* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --red: #f91944;
  --light-red: #e51a4b;
  --gray: #505050;
  --black: #0f172a;
}

.bg-red {
  background-color: var(--red);
}
.text-red {
  color: var(--red);
}
.text-black {
  color: var(--black);
}
.text-gray {
  color: var(--gray);
}
